{
    "sourceFile": ".env.example",
    "activeCommit": 0,
    "commits": [
        {
            "activePatchIndex": 0,
            "patches": [
                {
                    "date": 1714719185611,
                    "content": "Index: \n===================================================================\n--- \n+++ \n"
                }
            ],
            "date": 1714719185611,
            "name": "Commit-0",
            "content": "POSTGRES_URL=\"postgres://default:GJ3I1aeTRZFX@ep-tight-shadow-a4x8u4c8-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require\"\nPOSTGRES_PRISMA_URL=\"postgres://default:GJ3I1aeTRZFX@ep-tight-shadow-a4x8u4c8-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require&pgbouncer=true&connect_timeout=15\"\nPOSTGRES_URL_NO_SSL=\"postgres://default:GJ3I1aeTRZFX@ep-tight-shadow-a4x8u4c8-pooler.us-east-1.aws.neon.tech:5432/verceldb\"\nPOSTGRES_URL_NON_POOLING=\"postgres://default:GJ3I1aeTRZFX@ep-tight-shadow-a4x8u4c8.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require\"\nPOSTGRES_USER=\"default\"\nPOSTGRES_HOST=\"ep-tight-shadow-a4x8u4c8-pooler.us-east-1.aws.neon.tech\"\nPOSTGRES_PASSWORD=\"GJ3I1aeTRZFX\"\nPOSTGRES_DATABASE=\"verceldb\""
        }
    ]
}